.icon-checkbox {
  float: left;
  width: 16px;
  height: 16px;
  fill: rgba(0, 0, 0, .24);
  margin: 9px 30px 0 15px;
  cursor: pointer;

  &:hover {
    svg {
      fill: rgba(0, 0, 0, .36);
    }
  }
}