.list-todos {
  li {
    height: 38px;
    line-height: 38px;
    padding: 0 20px;

    &:hover {
      background-color: #f3f3f3;
    }

    .info-line {
      margin-left: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, .08);

      p {
        color: rgba(0, 0, 0, .85);
        font-size: 14px;
      }
    }
  }
}