.list-todos {
  li {
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    position: relative;

    &.chosen {
      .info-line {
        border-bottom-color: #5b7ff5;
      }
    }

    &:hover {
      background-color: #f3f3f3;
    }

    .info-line {
      margin-left: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, .08);

      p {
        color: rgba(0, 0, 0, .85);
        font-size: 14px;
        width: 100%;
        cursor: pointer;
      }

      > .time {
        float: right;
        color: rgba(0, 0, 0, .85);
        font-size: 13px;

        &.overtime {
          color: rgb(253, 93, 95);
        }
      }

      > .finish-status {
        float: right;
        width: 12px;
        height: 100%;
        margin-right: 5px;
      }

      > .icon-text {
        float: right;
        width: 16px;
        height: 16px;
        margin-right: 2px;
        margin-top: 2px;
        fill: rgba(0, 0, 0, .24);
      }
    }

    .move-icon {
      display: none;
      width: 12px;
      height: 12px;
      position: absolute;
      left: 4px;
      top: 1px;
      cursor: move;

      > svg {
        fill: rgba(0, 0, 0, .24);
      }
    }

    .state-icon {
      width: 14px;
      height: 14px;
      margin: 2px 0 0 4px;
      float: left;
      cursor: pointer;

      > svg {
        fill: rgba(0, 0, 0, .24);
      }
    }
  }

  li:hover {
    .move-icon {
      display: block;
    }
  }
}